<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    h1 {
        font-size: 4em;
        font-weight: lighter;
    }
</style>
<div class="nav">
    <h1 class="underline"><a href="/">Home</a></h1>
    <h1 class="underline"><a href="/create">Create</a></h1>
    {% if loggedIn %}
        <h1 class="underline"><a href="/profile">Profile</a></h1>
    {% else %}
        <h1 class="underline"><a href="/login">Login</a></h1>
    {% endif %}
</div>
<h1 style="display: inline;color: #F7747B;">Username: </h1> <h1 style="display: inline;color: #FE8F6B;">{{ username }}</h1><br>
<h1 style="display: inline;color: #F7747B;">Email: </h1> <h1 style="display: inline;color: #FE8F6B;">{{ email }}</h1><br>
<h1 style="display: inline;color: #FE8F6B;" class="underline"><a onclick="console.log('Cya!')" href="/logout">Log Out</a></h1>
{% if created %}
    <h1 style="color: #FE8F6B;text-align: center;">Created</h1>
    {% for i in created %}
        <h1 style="color: #FE8F6B;"><a href="/choice/{{created[i]}}">{{i}}</a></h1>
    {% endfor %}
{% endif %}
{% if starred %}
    <h1 style="color: #FE8F6B;text-align: center;">Starred</h1>
    {% for i in starred %}
        <h1 style="color: #FE8F6B;"><a href="/choice/{{starred[i]}}">{{i}}</a></h1>
    {% endfor %}
{% endif %}